body {
background : rgb(98, 151, 124);
margin : 0px;
height: 300px;
}

/* Top Header Page !! */ 
nav {
    background : rgb(98, 151, 124);
    padding : 25px;
}
nav a {
     color :rgb(255, 246, 223);
     font-family : 'Times New Roman', Times, serif
     font-weight : 600;
     font-size : 25px;
     padding : 100px;
     text-decoration : none;
}

nav a:hover {
color : rgb(12, 32, 23);
font-size: 30px;
}





/* Center Page */


.page {
    background : rgb(255, 246, 223);
    margin : 0;
    height : 1900px;

}

.name {
    color : rgb(12, 32, 23);
    text-align : center;
    background: rgb(98, 151, 124);
    height : 1000px;
    width : 370px;
     font-size : 20px;
}
.images {
    color : rgb(12, 32, 23);
    background: rgb(98, 151, 124);
    height : 1100px;

}

.text {
    background: rgb(98, 151, 124);
    height : 1300px;
    color : rgb(12, 32, 23);
    font-size : 20px;

}

.proud {
    text-align: center;
    font-size: 30px;
    color :rgb(98, 151, 124);
}

.four {
    color : rgb(101, 93, 87);

}
/* Footer */

.contact {
    text-align : center;
    color : rgb(255, 246, 223);
    font-size : 80px;
}

.email {
    text-align : center;
    color : rgb(255, 246, 223);
    font-size : 35px;
}

.tenor-gif-embed {
    width; 80px;
    height: 80px;

}


/* Container Work */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;

}


.flex-container {
  display: flex;
  flex-direction: row;

}

.images {
     width : 50%;
    margin : 10px;
    padding :20px;
}
  .left-container {
    width : 50%;
    margin : 10px;
    padding :20px;
}

  .right-container {
   width : 50%;
   margin : 10px;
   padding : 20px;
}
